

<app-header titulo="Card"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

  <ion-card-content>
    En este capítulo se analiza la necesidad de seguridad, las consideraciones de seguridad para 
    desplegar servidores de bases de datos
  </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit quos soluta officiis nisi quam modi inventore fugit, beatae accusantium sequi accusamus aut maxime at qui rem ipsum eaque enim!
    </ion-card-content>

    </ion-card>


    <ion-card>

      <ion-img src="/assets/img1.jpg"></ion-img>

      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium unde, doloribus cum fugiat consequatur aut molestias? Modi aspernatur odit similique quidem autem, vero iste itaque quisquam perspiciatis, recusandae laboriosam ipsum!
      </ion-card-content>
    </ion-card>

    <ion-footer>
      <ion-toolbar color="google">
        <ion-title>Blanca Azucena Cadena Lopez</ion-title>
      </ion-toolbar>
    </ion-footer>
